h1 Link Hover Effects

h2: a.effect-1(href="") Link Hover Effect 1
h2: a.effect-2(href="") Link Hover Effect 2
h2: a.effect-3(href="") Link Hover Effect 3
h2: a.effect-4(href="") Link Hover Effect 4
h2: a.effect-5(href=""): span Link Hover Effect 5
h2: a.effect-6(href=""): span Link Hover Effect 6
h2: a.effect-7(href="", data-content="Link Hover Effect 7"): span Link Hover Effect 7
h2: a.effect-8(href="", data-content="Link Hover Effect 8"): span Link Hover Effect 8